.ant-table-thead > tr > th {
  position: sticky !important;
  top: 0 !important;
  background: #d9d9d9 !important;
  color: #000000 !important;
  font-weight: 600 !important;
  text-align: center !important;
  padding: 8px !important;
}

.custom-table-row td {
  background: #f8f8f8 !important;
  border: 1px solid #dfdede !important;
  font-size: 16px !important;
  color: #000000 !important;
  padding: 8px !important;
}

.ant-table-body:focus {
  outline: none !important;
  box-shadow: none !important;
}

.custom-table-row:hover td {
  background: #e6f7ff !important;
}

.selected-row td {
  background: #cce5ff !important;
  font-weight: 600 !important;
}

.ant-select-item-option-active {
  background-color: #cce5ff !important;
}

/* Tùy chỉnh màu nền cho Input */
.custom-antd-input,
.custom-antd-input:hover,
.custom-antd-input:focus {
  background-color: #ebcec0 !important;
  border-color: black !important;
  box-shadow: none !important;
}

/* Tùy chỉnh màu nền và chữ cho Select */
.custom-antd-select .ant-select-selector {
  background-color: #ebcec0 !important;
  border-color: black !important;
  text-align: center;
  /* Ghi đè bo tròn góc của antd để style inline hoạt động */
  border-radius: inherit !important;
}

/* Đảm bảo đường viền không bị đôi khi Input và Select dính vào nhau */
.custom-antd-select.ant-select-focused .ant-select-selector,
.custom-antd-select:hover .ant-select-selector {
  border-color: black !important;
  box-shadow: none !important;
}

.paper-selection-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.paper-selection-modal-content {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}
